body {
  background: url(https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  background: rgb(255, 0, 0);
  /* border-color: inherit;
  border-style: dashed;
  border-width: thick; */
  border: 10px dashed green;
}
